<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ title }}</title>
	<meta charset="utf-8" name="description" content="{{ subtitle }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet"
		href="//www.ft.com/__origami/service/build/v2/bundles/css?modules=o-fonts%403.3.0%3A%2Fdemos%2Fsrc%2Fdemo.scss&amp;brand=master">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>

<body>